<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <%- include('./include/head.ejs') %>
    <title>Index</title>
</head>
<body>
    <h1>Heading1</h1>
    <p>code: <%=code%></p>
    <p>message: <%=message%></p>
</body>
</html>